body {
	/* background */
  background-image: linear-gradient(#006699, #00cc99);
  }
  
  /* text */
  body {
 color: white;
}

  /* link */
a:link {
  color: RoyalBlue;
}
a:hover {
  color: DodgerBlue;
}
a:active {
  color: MediumSeaGreen;
}
a {
  font-family: Lucida Console;
  font-size: 100%;
}

/* parallax */
.parallax {
	/* put backgroung ur link here */
  background-image: url("https://i.pinimg.com/originals/56/c2/62/56c2628025c98225a90a4f7400a497a2.png");
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}